{% extends 'base.html.twig' %}

    {% block title %}Liste prestation!{% endblock %}

    {% block body %}

        <div class="row">
            <section class="col-2">{% include 'aside.html.twig' %}</section>

            <section class="col-10  ">

                <div class="list-courses mx-5">
                <a href="{{ path('coursNew') }}">Create new</a>
                    <form class="row align-items-center">
                        <table class="table align-middle mb-0 bg-white">
                            <thead class="bg-light">
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Level</th>
                                <th>Price</th>
                                <th>NbrSession</th>
                                <th>Duration</th>
                                <th>Description</th>
                                <th>Language</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody class="align-middle">
                            {% for course in courses %}

                                <tr>

                                    <td class="col">{{ course.firstname }}</td>
                                    <td class="col">{{ course.name }}</td>
                                    <td class="col">{{ course.email }}</td>
                                    <td class="col">{{ course.nbrCourses }}</td>

{#                                    <td class="col">{{ course.id }}</td>#}
{#                                    <td class="col">{{ course.category }}</td>#}
{#                                    <td class="col">{{ course.Title }}</td>#}
{#                                    <td class="col">{{ course.level }}</td>#}
{#                                    <td class="col">{{ course.price }}</td>#}
{#                                    <td class="col">{{ course.nbrSession }}</td>#}
{#                                    <td class="col">{{ course.Duration|date('H:i') }}</td>#}
{#                                    <td class="col">{{course.Description}}</td>#}
{#                                    get name language#}
{#                                    <td class="col">{{course.language.name}}</td>#}
                                    <td class="col">
                                        <button type="button" class="btn btn-link btn-sm btn-rounded">
{#                                            <a href="{{ path('courseEdit', {'id': course.id}) }}"><i class="bi bi-pencil"></i></a>#}
                                        </button>
                                    </td>

                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">no records found</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                        {# </div> #}
                    </form>

                </div>

            </section>
        </div>



    {% endblock %}