{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

    <div class="row container-fluid px-4">
        <section class="col-2">{% include'aside.html.twig' %}</section>
        <section class="col-10  ">
            <div class=" m-3">
                <button class="btnAll">All</button>
                <button class="btnAll"><i class="bi bi-filter btnFilter"> Filter</i></button>

            </div>
            <div class="filter  m-3">
               <div class="actif">
                   <div class="form-check">
                       <input class="form-check-input" type="radio" name="flexRadioDefault" id="trainerActive ">
                       <label class="form-check-label" for="flexRadioDefault1">
                           Default radio
                       </label>
                   </div>
                   <div class="form-check">
                       <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                       <label class="form-check-label" for="flexRadioDefault2">
                           Default checked radio
                       </label>
                   </div>
               </div>
            </div>
            {# <section class="col-8 py-5 text-center container"> #}
            {# <a href="" id="btn-add-trainer">Add trainer</a> #}
{#            <button id="btn-add-trainer">Add trainer</button>#}
            <a href="{{ path('app_manager_create_trainer') }}">add trainer</a>

            <div id="form-trainer"></div>

            <div class="list-trainer">
                <form class="row row-cols-lg-auto g-3 align-items-center">
                    <table class="table align-middle mb-0 bg-white table-hover">
                        <thead class="bg-light ">
                        <tr>
                            <th>Firstname</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Actif</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody class="align-middle">
                        {% for trainer in trainers %}
                            <tr>
                                <td>{{ trainer.firstname|capitalize }}</td>
                                <td>{{ trainer.name|upper  }}</p></td>
                                <td>{{ trainer.email }}</p></td>
                                <td class="text-center">
                                    {% if trainer.isActive == 0 %}
                                        <p class="bgred">disable</p>
                                    {% else %}
                                        <p class="bggreen">actif</p>
                                    {% endif %}

                                    {# <span class="badge badge-success rounded-pill d-inline">Active</span> #}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-link btn-sm btn-rounded">
                                        <a href="{{ path('app_manager_edit_trainer', {'id': trainer.id}) }}">edit</a>
                                    </button>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                    {# </div> #}
                </form>

            </div>

            {# <form class="row row-cols-lg-auto g-3 align-items-center"> #}

            {# </form> #}

        </section>

    </div>

{% endblock %}
