{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
   <div class="row">
       <section class="col-2">{% include 'aside.html.twig' %}</section>

       <section class="col-10  ">

           <div id="form-courses "></div>

           <div class="form-new-course mx-5">
               <form class="row g-3" method="post"  >

                   <h1 class="h3 mb-3 font-weight-normal">Crate a course</h1>

                   {{ form_start(form) }}

                   <div class="col-md-6">
                       {{ form_row(form.startDate, { 'attr': {'class': 'form-control datepicker'} }) }}
                   </div>
                   <div class="col-md-6">
                       {{ form_row(form.startTime, { 'attr': {'class': 'form-control '} }) }}
                   </div>

                   <div class="col-md-6">
                       {{ form_row(form.endDate,  { 'attr': {'class': 'form-control datepicker'} }) }}
                   </div>

                   <div class="col-md-6">
                       {{ form_row(form.endTime, { 'attr': {'class': 'form-control '} }) }}
                   </div>

                   <div class="col-md-12">
                       {{ form_row(form.days,  { 'attr': {'class': 'form-control '} }) }}
                   </div>
                   <div class="col-md-12">
                       {{ form_row(form.cours,  { 'attr': {'class': 'form-control ', 'type': 'checkbox'} }) }}
                   </div>

                   <div class="col-12">
                       <button type="submit" class="btn btn-primary">Save</button>
                   </div>
                   {{ form_end(form) }}

               </form>

           </div>

       </section>
   </div>

{% endblock %}