{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="row">
        <section class="col-2">{% include 'aside.html.twig' %}</section>
        <section class="col-10  ">
            <div class="list-trainer">
                <div class="row row-cols-lg-auto g-3 align-items-center"></div>
                {{ form_start(registerTrainer) }}
                <div class="col-12">
                    {{ form_row(registerTrainer.firstname, { 'attr': {'class': 'form-control '} }) }}
                </div>
                <div class="col-12">
                    {{ form_row(registerTrainer.name, { 'attr': {'class': 'form-control '} }) }}
                </div>
                <div class="col-12">
                    {{ form_row(registerTrainer.email, { 'attr': {'class': 'form-control '} }) }}
                </div>
                <div class="col-12">
                    {{ form_widget(registerTrainer.isActive, { 'attr': {'class': 'form-check-input '} }) }}
                    {{ form_label(registerTrainer.isActive, 'is actif') }}

                </div>


                <div class="col-12">

                    <button class="btn">{{ button_label|default('Save') }}</button>
                </div>
                {{ form_end(registerTrainer) }}
            </div>
        </section>
    </div>
{% endblock %}