{% extends 'base.html.twig' %}

{% block title %}Hello BookingController!{% endblock %}

{% block body %}
       <section class="card">
           <div class="tableCard">
               <h1>Your card</h1>
               {% if items | length >0 %}

                   {% for item in items %}
                       <p>you have booked the {{ item.courses.cours.trainer.firstname }} {{ item.courses.cours.trainer.name }}
                          course, which will start {{ item.courses.startDate|date('d/m/Y') }}
                          at {{ item.courses.startDate|date('h:m') }} </p>
                       {#            {{ dump(item) }}#}
                       <table class="table ">
                       <thead>
                       <tr>
                           <th scope="col">Course</th>
                           <th scope="col">level</th>
                           <th scope="col">prix</th>
                       </tr>
                       </thead>
                       <tbody>
                       <tr>
                           <td>{{ item.courses.cours.title }}</td>
                           <td>{{ item.courses.cours.level }}</td>
                           <td>{{ item.courses.cours.price }}</td>
                           <td>
                               <a href="{{ path('booking_remove', {'id': item.courses.id}) }}"><i class="bi bi-trash"></i></a>
                           </td>
                       </tr>

                       </tbody>
                       <tfoot>
                       <tr>
                           <td colspan="3" style="text-align: right">Total : {{ item.courses.cours.price }} €</td>
                           <td></td>
                           <td></td>
                       </tr>
                       </tfoot>
                   {% endfor %}

                   </table>

                   <a type="submit" class="btn btn-success" href="">Book</a>
               {% else %}
                   <p>card, is empty</p>
               {% endif %}
           </div>
       </section>
{% endblock %}
